body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
}
#root {
  width: 100%;
  font-family: "Inter";
  min-height: 100%;
}

#root .container {
  max-width: 1700px;
  margin: auto;
  background: #eef4f9;
  position: relative;
}

#root .container.login {
  max-width: 1280px;
  background-color: #ffffff;
}

.page {
  background-color: #ededed;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

.chat-icon {
  width: 70px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4.5em;
  border: 2px solid #5584f6;

  /* Add floating animation */
  animation: float 3s ease-in-out infinite;
}

.chat-icon:hover {
  transform: translateY(-5px);
}

/* Floating keyframes */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media screen and (min-width: 767px) {
  .chat-icon {
    bottom: 50px;
    right: 50px;
  }
}

/**Custom checkbox style**/
.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  gap: 8px;
  user-select: none;
  margin: auto;
}

.checkbox input {
  display: none;
}

.checkbox .checkmark {
  width: 12px;
  height: 12px;
  border: 2px solid #757575;
  border-radius: 4px;
  background-color: white;
  transition: all 0.2s ease;
  position: relative;
}

.checkbox input:checked + .checkmark {
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}

.checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 0px;
  width: 2px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox input:checked + .checkmark::after {
  display: block;
}

@media screen and (min-width: 1200px) {
  .checkbox .checkmark {
    width: 14px;
    height: 14px;
  }
  .checkbox .checkmark::after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
  }
}
