body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}
#root {
  width: 100%;
  font-family: "Inter";
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}
