.profile-section {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.profile-header {
  width: 100px;
  margin: auto;
  height: 100px;
  background: #e8ecef;
  border-radius: 50%;
}

.profile-section .table-action-link {
  color: var(--table-header);
  cursor: pointer;
  align-items: center;
}

.profile-section .form-group input[type="text"] {
  border: 1px solid var(--border-color);
}

.profile-section .section-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.section-title {
  font-size: 16px;
  color: var(--table-header);
  text-align: left;
}

.profile-section .form-group {
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 14px;
  color: #555;
  font-size: 14px;
}

.profile-section .form-group input[type="text"],
.profile-section .form-group select,
.profile-section .form-group input[type="email"],
.profile-section .form-group input[type="number"] {
  width: auto;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 14px;
  padding: 13px;
  cursor: pointer;
}

.profile-section .form-group input:disabled {
  background-color: #f9f9f9;
}

.save-btn {
  background-color: #2a85ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.save-btn:hover {
  background-color: #1a75ff;
}

.wrapper {
  max-width: 1150px;
}

.profile-page .filtersIcon {
  display: none;
}

@media screen and (min-width: 767px) {
  .profile-section .form-group input[type="text"],
  .profile-section .form-group select,
  .profile-section .form-group input[type="email"],
  .profile-section .form-group input[type="number"] {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 18px;
  }
}
